{% extends 'base.html' %}
{% block content %}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script>
        var checkList = []
        function play(){
            console.log(checkList)
            // console.log(checkList.length)
            var data = ''

            if(checkList.length == 0){
                alert("곡을 선택해 주세요.")
                return 0
            }
            for(var i=0; i<checkList.length; i++){
                // console.log(checkList[i])
                if(i != 0){
                    data += ','
                }
                data += checkList[i]
            }
            console.log(data)
            location.href = "/selectGetAudio/?id=" + data
        }

        function check(id){
            isCheck = document.getElementById(id).checked
            if(isCheck){
                checkList.push(id)
            } else {
                for(var i=0; i<checkList.length; i++){
                    if(checkList[i] == id){
                        checkList.splice(i, 1)
                        break
                    }
                }
            }
            checkList.sort();
            console.log(checkList)
        }

        function remove(id){
            // console.log(id)
            location.href = "/delete/?id=" + id
        }
    </script>
    <input type="button" class="btn btn-primary" value="선택 재생" onclick="play()"><p>
    
    <div class="list-group">
    {% for music in musics %}
        <li class="list-group-item">
            <input id={{music.id}} type="checkbox" onclick="check({{music.id}})">
            <a href="{% url 'getAudio'%}?id={{music.id}}">
                {{ music.id }} / 
                {{ music.music }}
            </a>
            <input type="button" class="btn btn-danger pull-right btn-xs" value="삭제" onclick="remove({{music.id}})">
        </li>
    {% endfor %}
    </div>
{% endblock content %}