{% extends 'base.html' %}
{% block content %}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script>
        var checkList = []
        function play(){
            document.checkForm.submit();
        }

        function check(id){
            isCheck = document.getElementById(id).checked
            if(isCheck){
                checkList.push(id)
                console.log(checkList)
            } else {
                for(var i=0; i<checkList.length; i++){
                    if(checkList[i] == id){
                        checkList.splice(i, 1)
                        break
                    }
                }
                console.log(checkList)
            }
        }
    </script>
    <form name="checkForm" action="/selectGetAudio/" method="post">
    <input type="button" class="btn btn-primary" value="선택 재생" onclick="play()"><p>
    {% for music in musics %}
        <div>
            <input id={{music.id}} type="checkbox" onclick="check({{music.id}})">
            <a href="{% url 'getAudio'%}?id={{music.id}}">
            {{ music.id }} / 
            {{ music.music }}
            </a>
        </div>
    {% endfor %}
    </form>
{% endblock content %}